<table class="mb-5">
  <thead>
  </thead>
  <tbody>
  <%= render partial: 'form', locals: { list: @list } %>
    <% @lists.each do |list| %>
      <tr>
        <td>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="" id="formCheckDefault">
            <label for="formCheckDefault" class="form-check-label mr-4">
            </label>
          </div>
        </td>
        <td class="list_name"><%= list.name %></td>
        <td><%= button_to t('defaults.destroy'), list_path(list), method: :delete, class: "btn btn-info ml-4" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
