<% content_for(:title) %>
<div class="container">
  <h2 class="introduuction_title">
    <span>毎日の買い物を<br>節約チャンスに変える</span>
  </h2>
  <%= link_to "登録してはじめる", new_user_path, class: "registerbtn" %>
</div>