<footer>
  <div>
    <%= link_to t('defaults.privacy'), privacy_policy_path, class: 'privacy-policy' %>
  </div>
  <div class="flex justify-center content-center">
    <p class="text-xs text-gray-500">&copy; Viva Price</p>
  </div>
</footer>