<footer>
  <div class="flex justify-center items-center">
    <div class="inline-block align-middle px-2">
      <%= link_to t('defaults.terms'), terms_of_service_path, class: 'terms-of-service' %>
    </div>
    <div class="inline-block align-middle px-2">
      <%= link_to t('defaults.privacy'), privacy_policy_path, class: 'privacy-policy' %>
    </div>
  </div>
  <div class="d-flex justify-content-evenly">
    <p class="text-xs text-gray-500">&copy; Viva Price</p>
  </div>
</footer>
