.list {
  padding: 10px;
  text-align: center;
}

.list_title {
  text-align: center;
  font-size: 2.0rem;
  color: #2b546a;
  font-weight: bold;
  margin: 10px;
}

table {
  margin: 3px auto;
}

.form-check-input {
  transform: scale(1.3);
}

.list_name {
  font-size: 1.1rem;
  font-weight: bold;
}

.owabi {
  text-align: center;
}