header {
  background-color: rgb(48, 200, 214);
}

.header_logo_size {
  height: 2.0rem;
}

footer {
  background-color: rgb(48, 200, 214);
  color: rgb(255, 255, 255);
}

.name {
  color: #2b546a;
}

.name:hover {
  color: #2b546a;
  text-decoration: none;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.terms-of-service {
  color: rgb(255, 255, 255);
}

.terms-of-service:hover {
  color: #2b546a;
  text-decoration: none;
}

.terms {
  margin: 70px;
}

.privacy-policy {
  color: rgb(255, 255, 255);
}

.privacy-policy:hover {
  color: #2b546a;
  text-decoration: none;
}

.privacy {
  margin: 70px;
}

.contact {
  color: rgb(255, 255, 255);
}

.contact:hover {
  color: #2b546a;
  text-decoration: none;
}

.text-black:hover {
  text-decoration: none;
}

.copy {
  font-size: 16px;
  margin: 7px;
}

.form-group {
  text-align: left;
  font-size: 1.2rem;
  padding: 3px;
}

.text-center {
  padding: 10px;
  font-size: 1.3rem;
}

.table th,
.table td {
  border: none;
}

.pagination {
  justify-content: center;
  display: flex;
}

.pagination a {
  color: rgb(48, 200, 214);
  border: none;
  border-radius: 100%;
}

.page-item.active .page-link {
  color: aquamarine;
  background-color: rgb(110, 110, 110) !important;
}

.pagination a:hover {
  border-radius: 100%;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 530px;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#keyword:checked ~ #keyword_content,
#price:checked ~ #price_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.agree {
  font-size: 1rem;
  display: inline-block;
  text-align: left;
}