<div class="col-sm-12 col-lg-4 mb-3">
  <div id="product-id-<%= product.id %>">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= product.product_name %></p>
        <p class="card-text"><%= product.regular_price %></p>
        <p class="card-text"><%= product.discounted_price %></p>
      </div>
    </div>
  </div>
</div>