<div class="container pt-3">
  <%= render 'search', url: products_path %>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @products.present? %>
          <%= render @products %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>